*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    align-items: center;
    background-color: #12274e;
    color: #fff;
}

.sec1{
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #12274e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text2{
    `
}